* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #284440;
body {
    background-color: $main-color;
    section:nth-child(1) {
        // position: absolute;
        position: sticky;
        top: 10px;
        .navbar {
                background-color: #284440;
            }
    }
    section:nth-child(2) {
        width: 850px;
        display: inline-block;
        .film-picks-2022 {
            width: 850px;
        }
    }
    .film-picks-logo {
        width: 110px;
        height: 70px;
        display: inline-block;
        margin: 10px;
    }
}
